

body {
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-family: 'Open Sans', sans-serif;
	position: absolute;
	width: 100%;
	background-color: #FBFBFB;
}

h1 {
	color: #1A3D33;
	font-family: 'Playfair Display', serif;

}
a {
    color: #193D35;
}



/*-----------------------------------------------------------------------*/
/*.fa {
	color: #999999;
	margin-top: 0.9em;
	margin-bottom: 0.9em;
}*/


/*-----------------------------------------------------------------------*/

#wrapper {
	font-size: 25px;
	font-weight: 400;
	text-align: center;
    margin-top: 75;
}

#profile-img { 
	display: block;
    margin-left: 25%;
    margin-right: auto;
    margin-top: 12%;
	width: 60%;
} 

/*#caption {
	margin: auto;
	font-size: 15px;
	text-align: center;
	width:50%;
	margin-top: 5px;
	float:left;
}*/

#contact {
	margin-top: 0.45em;
	display: block;
	margin: 0.9em auto 0;
	text-align: center;
}

#contact a {
	margin-right: 2.6em;
	font-size: 17px;
	text-decoration: none;
} 

#contact a:last-child {
	margin-right: 0;
}

#contact a:hover {
	color: #C5D4C1;
}

#about-me {
	list-style: inside;
	display: table;
	margin-right: 19%;
 	margin-left: auto;
 	margin-top:6%;

}
#about-me h3 {
	font-family: 'Playfair Display', serif;
}
#about-me ul {
/*		list-style-type: none;
*/		padding: 0;
		margin: 0;
}
#about-me a:hover{
	color:#C5D4C1;
}

#left-half {
	float:left;
	width:50%;
}
#right-half {
	float:right;
	width:50%;
}











